# Android / APK
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
obj/
local.properties
*.iml
.gradle/
build/
*.pro
*.pro~
*.keystore
sign.properties

# Java
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!/.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.yarn/
.yarnrc.yml
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.pnpm/
pnpm-lock.yaml
yarn.lock
package-lock.json
.nyc_output/
coverage/

build/
.cache/
.turbo/
.eslintcache
*.tsbuildinfo
next-env.d.ts
.next/
out/
.env
.env.*
!.env.example
.webpack/
.vite/